@font-face {
  font-family: "TT Lakes Bold";
  src: url("../fonts/TT-Lakes-Condensed-Bold-DEMO.otf");
}

@font-face {
  font-family: "Helvetica Neue Regular";
  src: url("../fonts/HelveticaNeue.ttf");
}

