$tablet-width: 900px;
$mobile-width: 600px;
$base-font: 'Helvetica Neue Regular', sans-serif;
$heading-font: 'TT Lakes Bold', sans-serif;
$heading-font-size: 30px;
$base-font-size: 18px;
$small-font-size: 14px;
$big-font-size: 20px;
